@page "/UserInfo"
@inject NavigationManager NavigationManager

@inject FineTrack.Services.UserSessionService UserSessionService

<center>
<h3>UserInfo</h3>
	<br />


<h5>
	User Id : @UserId
</h5>

<h5>
	User Name : @UserName
</h5>

<h5>
	Currency: @PreferredCurrency  
</h5>

<br />

<br />

<button class="btn btn-warning" @onclick="LogoutUser">Logout</button>
</center>

@code {
	public string UserName { get; set; } 
	public int UserId { get; set; } 
	public string PreferredCurrency { get; set; } 


	protected override async Task OnInitializedAsync()
	{
		if (UserSessionService.IsLoggedIn() == true)
		{

			UserName = UserSessionService.CurrentUser.Username;

			PreferredCurrency = UserSessionService.CurrentUser.PreferredCurrency;
			
			UserId = UserSessionService.CurrentUser.UserId;


		}

	}
	public async Task LogoutUser()
	{
		UserSessionService.Logout();
		NavigationManager.NavigateTo("/");

	}

}