@page "/UserInfo"
@inject NavigationManager NavigationManager

@inject FineTrack.Services.UserSessionService UserSessionService


<h3>UserInfo</h3>
@UserName  IS Username<br/>
@UserId  IS UserId
<br />

@PreferredCurrency  IS PreferredCurrency
<br />

<button class="btn btn-primary" @onclick="LogoutUser">Logout</button>

@code {
	public string UserName { get; set; } 
	public int UserId { get; set; } 
	public string PreferredCurrency { get; set; } 


	protected override async Task OnInitializedAsync()
	{
		if (UserSessionService.IsLoggedIn() == true)
		{

			UserName = UserSessionService.CurrentUser.Username;

			PreferredCurrency = UserSessionService.CurrentUser.PreferredCurrency;
			
			UserId = UserSessionService.CurrentUser.UserId;


		}

	}
	public async Task LogoutUser()
	{
		UserSessionService.Logout();
		NavigationManager.NavigateTo("/");

	}

}